@import '~bootstrap/scss/bootstrap';

$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

#map {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: 0;
}

#mapwrap {
  width: 100%;
  height: 600px;
  height: 100vh;
  border: 1px solid #333;
  position: relative;
  overflow: hidden;
}

#cal {
  word-wrap: break-word;
  background: rgba(255, 255, 255, 1);
  opacity: .75;
  width: 250px;
  height: relative;
  position: absolute;
  right: 0;
  z-index: 1;
  transition: .5s right;
  padding: 20px;
  box-sizing: border-box;
}

#toolbar {
  background: rgba(255, 255, 255, 1);
  opacity: .6;
  width: 250px;
  height: 600px;
  height: 100vh;
  position: absolute;
  left: -250px;
  z-index: 1;
  transition: .5s left;
  box-sizing: border-box;
}

#toolbar.open {
  left: 0;
  opacity: .95;
}

#toolbar .hamburger {
  height: 100px;
  width: 25px;
  background: #000;
  box-shadow: 1px 0 2px rgba(0, 0, 0, .3);
  position: absolute;
  right: -25px;
  top: 40%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #333;
  cursor: pointer;
}

.hamburger span {
  color: #fff;
  display: inline-block;
  position: relative;
  transform: rotate(90deg);
  top: 39px;
  left: -10px;
}

#menu {
  max-height: 95vh;
  padding: 20px;
}

#toolbar ul {
  margin: 0;
  padding: 0;
}

#toolbar li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding: 6px 3px;
  cursor: pointer;
}

#toolbar li:hover {
  color: #666;
}

#toolbar {
  .caption {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .value {
    font-weight: 500;
    text-align: right;
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: .5rem;
  }
}

.leaflet-popup {
  font-size: 1.1rem;
}

.notify-icon span{
  display: inline-block;
  border: 1px solid orange;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  animation: pulse .6s 4 forwards;
  transform-origin: center center;
}
@keyframes pulse{
  0%{
    transform: scale(5.5);
    opacity: .2;
  }
  50%{
    opacity: .8;
  }
  100%{
    transform: scale(.1);
    opacity: 1;
  }
}


.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#fd7e14;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.my-float{
  margin-top:22px;
}